<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fruit</key>
	<array>
		<dict>
			<key>name</key>
			<string>Arándanos</string>
			<key>portion</key>
			<string>2 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ciruela</string>
			<key>portion</key>
			<string>3 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chabacano</string>
			<key>portion</key>
			<string>4 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Durazno</string>
			<key>portion</key>
			<string>2 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fresa</string>
			<key>portion</key>
			<string>1 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guayaba</string>
			<key>portion</key>
			<string>2 med.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jugo de frutas</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jugo de uva</string>
			<key>portion</key>
			<string>1/4 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Limón</string>
			<key>portion</key>
			<string>libre</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mandarina</string>
			<key>portion</key>
			<string>2 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mango</string>
			<key>portion</key>
			<string>1/2 med.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kiwi</string>
			<key>portion</key>
			<string>1.5 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Manzana</string>
			<key>portion</key>
			<string>1 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Melón</string>
			<key>portion</key>
			<string>1 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Naranja</string>
			<key>portion</key>
			<string>1 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Papaya</string>
			<key>portion</key>
			<string>2/3 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pera</string>
			<key>portion</key>
			<string>1/2 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Piña</string>
			<key>portion</key>
			<string>2/3 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Plátano</string>
			<key>portion</key>
			<string>1/2 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sandía</string>
			<key>portion</key>
			<string>1 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Toronja</string>
			<key>portion</key>
			<string>1 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tuna</string>
			<key>portion</key>
			<string>2 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Uva</string>
			<key>portion</key>
			<string>9 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pasitas</string>
			<key>portion</key>
			<string>10 piezas</string>
		</dict>
	</array>
	<key>vegetables</key>
	<array>
		<dict>
			<key>name</key>
			<string>Chile poblano</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Acelga</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alcachofas</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Apio</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Berenjena</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brócoli</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cebolla</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cilantro</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Coliflor</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Champiñones</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chayote</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ejotes</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ensalada promedio</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Espárragos</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Espinacas</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flor de calabaza</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Germen</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jícama</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jitomate</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lechuga</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nopales</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pepino</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Perejil</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rábano</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Repollo</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tomate</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Betabel</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Calabacita</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cebolla</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jugo de tomate</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jugo de verduras</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pimiento</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zanahorias</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
	</array>
	<key>pea</key>
	<array>
		<dict>
			<key>name</key>
			<string>Lentejas</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Garbanzo</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Habas</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alubias</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Frijol cocido o en bola</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Frijol refrito</string>
			<key>portion</key>
			<string>1/3 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Soya texturizada</string>
			<key>portion</key>
			<string>3 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Soya cocida</string>
			<key>portion</key>
			<string>1/3 taza</string>
		</dict>
	</array>
	<key>meat</key>
	<array>
		<dict>
			<key>name</key>
			<string>Aves</string>
			<key>portion</key>
			<string>30 grs.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Res</string>
			<key>portion</key>
			<string>30 grs.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pescados y Mariscos</string>
			<key>portion</key>
			<string>30 grs.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pollo deshebrado</string>
			<key>portion</key>
			<string>1/4 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Queso cottage o requesón</string>
			<key>portion</key>
			<string>3 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Queso fresco (panela)</string>
			<key>portion</key>
			<string>40 g.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Atún en agua</string>
			<key>portion</key>
			<string>1/3 lata</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Carnes frías (pavo)</string>
			<key>portion</key>
			<string>2 reb. chicas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Salchicha (pavo)</string>
			<key>portion</key>
			<string>1 pza.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Huevo</string>
			<key>portion</key>
			<string>1 pza.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clara de huevo</string>
			<key>portion</key>
			<string>2 pza.</string>
		</dict>
	</array>
	<key>milk</key>
	<array>
		<dict>
			<key>name</key>
			<string>Leche de vaca o Soya</string>
			<key>portion</key>
			<string>250 ml.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yoghurt</string>
			<key>portion</key>
			<string>250 ml.</string>
		</dict>
	</array>
	<key>cereal</key>
	<array>
		<dict>
			<key>name</key>
			<string>Cereal sin endulzar</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Arroz cocido</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amaranto tostado</string>
			<key>portion</key>
			<string>1/3 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Avena cocida</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Salvado y germen de trigo</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pasta cocida</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Harina / Maizena</string>
			<key>portion</key>
			<string>2 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pan de barra integral</string>
			<key>portion</key>
			<string>1 reb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pan p/hot dog</string>
			<key>portion</key>
			<string>1/2 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Galletas saladas</string>
			<key>portion</key>
			<string>6 cuadros</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kraker Bran</string>
			<key>portion</key>
			<string>3 cuadros</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Galletas Habaneras</string>
			<key>portion</key>
			<string>3 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Galletas Marías</string>
			<key>portion</key>
			<string>4 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Elote desgranado</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Elote mazorca</string>
			<key>portion</key>
			<string>3/4 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Papa c/cáscara</string>
			<key>portion</key>
			<string>1/2 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Granola (simple)</string>
			<key>portion</key>
			<string>3 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tortilla maíz</string>
			<key>portion</key>
			<string>1 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tostada Horneada</string>
			<key>portion</key>
			<string>2 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pan p/hamburguesa ch.</string>
			<key>portion</key>
			<string>1/2 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pan p/hamburguesa gde.</string>
			<key>portion</key>
			<string>1/3 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pan fránces s/migajón</string>
			<key>portion</key>
			<string>1/2 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pan fránces c/migajón</string>
			<key>portion</key>
			<string>1/4 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Crotones</string>
			<key>portion</key>
			<string>1/2 taza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Palomitas naturales</string>
			<key>portion</key>
			<string>2 tazas</string>
		</dict>
	</array>
	<key>fat</key>
	<array>
		<dict>
			<key>name</key>
			<string>Aceite</string>
			<key>portion</key>
			<string>1 c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Queso crema</string>
			<key>portion</key>
			<string>1 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Crema</string>
			<key>portion</key>
			<string>1 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guacamole</string>
			<key>portion</key>
			<string>2 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cacahuate</string>
			<key>portion</key>
			<string>18 pzas.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Semillas de girasol o calabaza</string>
			<key>portion</key>
			<string>1.5 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Piñones</string>
			<key>portion</key>
			<string>2 c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mantequilla</string>
			<key>portion</key>
			<string>1 c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mayonesa</string>
			<key>portion</key>
			<string>1 c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nuez</string>
			<key>portion</key>
			<string>3 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pistaches</string>
			<key>portion</key>
			<string>6 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Almendras</string>
			<key>portion</key>
			<string>10 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aguacate</string>
			<key>portion</key>
			<string>1/4 pieza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aceitunas</string>
			<key>portion</key>
			<string>6 piezas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cocoa</string>
			<key>portion</key>
			<string>1 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aderezo</string>
			<key>portion</key>
			<string>1 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Leche de almendras</string>
			<key>portion</key>
			<string>250 ml.</string>
		</dict>
	</array>
	<key>sugar</key>
	<array>
		<dict>
			<key>name</key>
			<string>Azúcar</string>
			<key>portion</key>
			<string>1 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Miel</string>
			<key>portion</key>
			<string>1 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mermelada</string>
			<key>portion</key>
			<string>1 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Yakult</string>
			<key>portion</key>
			<string>1 (80 ml)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cajeta</string>
			<key>portion</key>
			<string>1 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gelatina regular</string>
			<key>portion</key>
			<string>1/2 tza</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chocolate en polvo</string>
			<key>portion</key>
			<string>1 C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Refrescos</string>
			<key>portion</key>
			<string>1/4 lata</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Catsup</string>
			<key>portion</key>
			<string>1 C</string>
		</dict>
	</array>
</dict>
</plist>
